.state {
  font-size: 13px;
  color: green;
  text-transform: uppercase;
}

.address {
  font-size: 28px;
}
.field {
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding: 5px 5px 5px 0px;
}

.mainInfo {
  padding-bottom: 10px;
}

.otherInfo {
  max-width: 800px;
  padding-top: 10px;
}

.lowerFont {
  font-size: 18px;
}

.data {
  padding-left: 0;
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 400;
}

.description {
  padding-left: 0;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
}

.key {
  font-weight: 400;
}
