.sideMenuOpen {
    width: 240px;
}

.sideMenuClosed {
    opacity: 0;
    width: 0;
}

.list {
    top: 56px;
    //border-right: 0.5px solid hsl(0, 0%, 96.3%);
    margin-left: -240px;
    z-index: 100;
    left: 240px;
    position: fixed;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    transition: all 0.25s ease 0s;
    text-transform: capitalize;
}

.dividerStyle {
  background-color: hsl(0, 0%, 93.3%)!important
}

.listItem {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none!important;
}

a {
  text-decoration: none!important;
}
