.mainWrapper {
  padding-left: 20px;
  width: 100%;
  position: relative;
}

.mycontainer {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
}

.borderStyle {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-bottom: 20px;
  position: relative;
}

.fabStyle {
  float: right;
  margin-right: 15px;
}

.fieldStyle {}

.addContainer {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-top: 10px;
  width: 400px;
  float: right;
  margin-bottom: 20px;
}

.conatainerOpen {
  opacity: 1;
  transition: 0.5s;
  position: relative;
  bottom: 0;
}

.containerClosed {
  position: relative;
  transition: 0.25s;
  bottom: 20px;
  opacity: 0;
}

.fieldContainer {
  padding: 15px;
}

.btnStyle {
  float: right;
}

.dropBoxWrapper {
  padding-right: 20px;
  padding-bottom: 20px;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
  z-index: 100;
}

.removeBtn {
  float: right;
  background-color: red;
  display: inline-block;
}

.updateBtn {
  display: inline-block;
}
