.imageWrapper {
  max-width: 100px;
  max-height: 100px;
}

.mainWrapper {
  padding-top: 20px;
    position: relative;
}

.img {
  width: 100%;
}

.exitIcon {
  position: absolute;
  cursor: pointer;
  right: 15px;
  z-index: 100;
}
