.items {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    min-height: 205px;
    max-height: 410px;
    margin-top: 24px;
}

.item {
  margin: 0;
  padding-right: 10px;
  width: 210px;
  max-width: 350px;
  flex: 1 0 auto; /* 2 */
  height: 100%;
  margin-right: 4px;
  flex-grow: 0;
}

.dontGrow {
  margin: 0;
}

.doGrow {
  flex-grow: 0;
}

.columnPadding {
  padding-bottom: 24px;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.categoryBlock {
  display: inline-block;
  height: 100%;
}

.overFlowHidden {
  overflow: hidden;
}

.overFlowVisible {
  overflow: visible;
}

.title {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
  text-transform: capitalize;
}
