.wrapper {
  padding-left: 250px;
  transition: all 0.25s ease 0s;
}

.sideMenuWrapperOpen {
  padding-left: 250px;
}

.sideMenuWrapperClosed {
  padding-left: 0;
}

.bgColor {
  background-color: #ffffff;
}

.columnPadding {
  padding-bottom: 15px;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.items {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    height: 250px;
}

.item {
  width: 25%;
  margin: 0;
  padding-right: 10px;
  min-width: 250px;
  max-width: 350px;
  flex: 1 0 auto; /* 2 */
  height: 100%;
}

.dontGrow {
  width: 25%;
  max-width: 350px;
  margin: 0;
}

.doGrow {
  flex-grow: 1;
}

.mainContainer {
  background-color: white;
  border: 1px solid black;
  height: 100%;
}

.categoryBlock {
  display: inline-block;
}

.dividerStyle {
  background-color: hsl(0, 0%, 93.3%)!important
}

.popover {
  width: auto;
  display: inline-block;
}
