.imageWrapper {
  border: 2px solid white;
  max-width: 80px;
}

.wrapper {
  right: 20px;
  bottom: 20px;
  position: absolute;
}

.displayImage {
  width: 76px;
  height: 76px;
  cursor: pointer;
}

.imageInfo {
  color: white;
  font-size: 12px;
  text-align: center;
}
