.wrapperPadding {
  padding: 15px;
}

.property {
  font-weight: bold;
  word-wrap: break-word;
}

.displayimage {
  width: 100%;
  max-height: 500px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  clip: rect(0px,60px,200px,0px);

}

.selectImage {
  cursor: pointer;
}

.displayImageWrapper {
  max-height: 500px!important;
}

.break {
  word-wrap: break-word;
}

.fieldWrapper {

}

.container {
  border: 1px solid #e0e0e0;
  background-color: white;
  max-width: 1000px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 100px;
}

.rowPadding {
  padding-right: 0;
}

.firstCol {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
}

.imageWrapper {
  position: relative;
  max-height: 380px;
  overflow: hidden;
}
