.adWrapper {
  width: 210px;
  position: relative;
}

.adImage {
  width: 210px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 117px;
  filter: brightness(90%);
}

.adTextArea {
  margin-top: 8px;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  color: black;
  font-weight: 500;
  font-size: 14px;
  word-wrap: break-word;
  color: rgb(17, 17, 17);
}

.editButton {
  position: absolute;
  top: 0;
  right: 0;
}

.price {
  font-size: 20px;
}

.id {
  color: rgba(17, 17, 17, 0.6);
}

.otherInfo {
  font-size: 14px;
}
