.dropZoneStyle {
  border: 1px solid #b9b7b7;
  border-style: dashed;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 20px;
}

.dropZoneInner {
  color: #858181;
  font-weight: bold;
  font-size: 25px;
}
