.divStyle {
  top: 0px;
  width: 100%;
  z-index: 1000!important;
  position: fixed;
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.margin {
  padding: 0;
  margin-top: 70px !important;
  width: 100%;
  background-color: #ffffff;
  max-width: 1284px!important;
  margin: auto;
}

body {
  padding: 0!important;
  background-color: #ffffff;
}

.wrapper {
    padding-left: 250px;
    transition: all 0.25s ease 0s;
}

.sideMenuWrapperOpen {

}

.sideMenuWrapperClosed{
    padding-left: 0;
}

.title {
  text-transform: capitalize;
  font-size: 22px;
  color: white;
  line-height: 56px;
}

.other {
  margin-left: 30px;
  margin-top: 2px;
  text-transform: capitalize;
  // font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  color: white;
  line-height: 56px;
  cursor: pointer;
}

.authButton {
  margin-right: 5px!important;
  margin-left: 5px!important;
  color: white!important;
  text-transform: lowercase!important;
}

.appBar {
  position: fixed!important;
}
